---
layout: default
title: short
---

{% assign shortpostsexist = 0 %}

<div class="over">
  <ul class=func>
  <div class="split left">
      {% for post in site.categories.short %}
        <li>
          {% assign date_print = post.date | date: "%F" %}
         {{ date_print | strip_newlines}} -
        </li>
        {% assign shortpostsexist = 1 %}
      {% endfor %}
  </div>

  <div class="split right">
        {% for post in site.categories.short %}
        <li>
          <a href="{{site.baseurl}}{{ post.url }}">
            &nbsp{{ post.content | strip_html | truncate: 40 }}
          </a>
        </li>
        {% endfor %}
    </div>
    </ul>
</div>

{% if shortpostsexist != 1 %}
<div class="nopost">No posts found.</div>
{% endif %}
