<header>
    <header class="text">{{ site.description }}</header>
    <header class="links">
      <small>[ <a href="http://blog.enj0y.net">splash</a> ]</small>
      <small>[ <a href="http://enj0y.net">master</a> ]</small>
      <small>[ <a id="darkmoder" mode="light" href="#">dark &#128161;</a> ]</small>
    </header>
</header>

{% assign url_array = page.url | remove: site.baseurl | remove_first: "/" | split: "/" %}
{% assign current_sub = url_array.first %}

<nav class="header">

  {% if current_sub == "short" %}
  <a href="{{site.baseurl}}/short" class="currentHeader">think hour</a>
  {% else %}
  <a href="{{site.baseurl}}/short" class="linkHeader">think hour</a>
  {% endif %}

  {% if current_sub == "long" %}
  <a href="{{site.baseurl}}/long" class="currentHeader">big ideas</a>
  {% else %}
   <a href="{{site.baseurl}}/long" class="linkHeader">big ideas</a>
  {% endif %}


  {% if current_sub == "search" %}
  <a href="{{site.baseurl}}/search" class="currentHeader">tag browse</a>
  {% elsif current_sub == "tag" %}
  <a href="{{site.baseurl}}/search" class="currentHeader">tag browse</a>
  {% else %}
  <a href="{{site.baseurl}}/search" class="linkHeader">tag browse</a>
  {% endif %}

</nav>

<hr>