<header>
    <div style="margin-left: 10px;">{{ site.description }}</div>
</header>

{% assign url_array = page.url | remove: site.baseurl | remove_first: "/" | split: "/" %}
{% assign current_sub = url_array.first %}

<!-- navbar buttons are styled differently depending on current url, which is handled with if statements below -->
<div class="navover">
<div class="navleft">

    {% if current_sub == "short" %}
      <a href="{{site.baseurl}}/short" class="currentHeader">think hour</a>
    {% else %}
      <a href="{{site.baseurl}}/short" class="linkHeader">think hour</a>
    {% endif %}

</div>

<div class="navleft">

  {% if current_sub == "long" %}
    <a href="{{site.baseurl}}/long" class="currentHeader">big ideas</a>
  {% else %}
    <a href="{{site.baseurl}}/long" class="linkHeader">big ideas</a>
  {% endif %}

</div>

<div class="navright">

    {% if current_sub == "search" %}
    <a href="{{site.baseurl}}/search" class="currentHeader">tag browse</a>
    {% elsif current_sub == "tag" %}
    <a href="{{site.baseurl}}/search" class="currentHeader">tag browse</a>
    {% else %}
    <a href="{{site.baseurl}}/search" class="linkHeader">tag browse</a>
    {% endif %}

</div>
</div>

<!-- lastly underscore this simply using a horizontal rule to separate from page content -->
<hr>