---
layout: default
title: long
---
{% assign longpostsexist = 0 %}

<div class="over">
  <ul class=func>
  <div class="split left" style="font-weight: bold;">
    {% for post in site.categories.long %}
        <li>
          {{ post.type }} -
        </li>
        {% assign longpostsexist = 1 %}
      {% endfor %}
  </div>

  <div class="split right">
    {% for post in site.categories.long %}
        <li>
          <a href="{{site.baseurl}}{{ post.url }}">
             &nbsp{{ post.title }}
          </a>
        </li>
        {% endfor %}
    </div>
    </ul>
</div>

{% if longpostsexist != 1 %}
<div class="nopost">No posts found.</div>
{% endif %}
