---
layout: default
title: long
---

{% assign longpostsexist = 0 %}
{% assign types = site.categories.long | map: "type" | uniq %}

<nav class="index">
{% for type in types %}
      <div class="indexsplit">
            <h2>{{ type }}</h2>
            <ul class="index">
                  {% for post in site.categories.long %}
                        {% if post.type == type %}
                              <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
                              {% assign longpostsexist = 1 %}
                        {% endif %}
                  {% endfor %}
            </ul>
      </div>
      <br>
      <br>
{% endfor %}
</nav>

{% if longpostsexist != 1 %}
<section class="nopost">No posts found.</section>
{% endif %}