---
layout: default
---

<div class="overpost">

<div class="postinfo">

{% if page.categories contains "long" %}
<h1>{{ page.title }}</h1>
<br>
{{ page.date | date: "%F" }}
<br>
<b>Type:</b> {{ page.type }}
<br>

{% else %}
<h1>{{ page.date | date: "%F" }}</h1>
{% endif %}
</div>

<br>

<div class="posttags">
<b>Tags:</b>&nbsp;
{% for tag in page.tags %}
{% capture tag_name %}{{ tag }}{% endcapture %}
<a href="{{site.baseurl}}/tag/{{ tag_name | downcase }}"><nobr>&nbsp;#{{ tag_name }}</nobr></a>&nbsp;
{% endfor %}
</div>

<br>
{{ content }}
<br>

</div>

<br>
&nbsp;
<br>
&nbsp;
