---
layout: default
---

<article>

    <header>
        {% if page.categories contains "long" %}
        <h1>{{ page.title }}</h1>
        {% else %}
        <h1>{{ page.date | date: "%F" }}</h1>
        {% endif %}
    </header>

    {% if page.categories contains "long" %}
    <aside>
        {{ page.date | date: "%F" }}
        <br>

        <b>Type:</b> {{ page.type }}
        <br>
    </aside>
    {% endif %}

    <nav>
        <b>Tags:</b>&nbsp;
        {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="{{site.baseurl}}/tag/{{ tag_name | downcase }}"><nobr>&nbsp;#{{ tag_name }}</nobr></a>&nbsp;
        {% endfor %}
    </nav>
    <br>

    <main>
        {{ content }}
    </main>
    <br>

</article>

<br>
&nbsp;
<br>
&nbsp;
