---
layout: default
---

{% capture tags %}
  {% for tag in site.tags %}
  {{ tag[0] }}#{{ tag[1].size}}
  {% endfor %}
{% endcapture %}

{% capture tagslice | uniq %}
  {% for tag in site.tags %}
  {{ tag[0] | slice: 0 }}
  {% endfor %}
{% endcapture %}

{% assign paredtags = tags | downcase | split:' ' | sort %}
{% assign inits = tagslice | downcase | split:' ' | uniq | sort %}
{% assign listsamount = inits | size %}
{% assign col2 = listsamount | divided_by: 3 | round %}
{% assign col3 = listsamount | divided_by: 3 | round | times: 2 | plus: 1 %}

<nav class="glossary">

  {% for character in inits %}

    {% if forloop.index == 1 %}
    <div class="glossarysplit" id="column1">
    {% elsif forloop.index == col2 %}
    </div>
    <div class="glossarysplit" id="column2">
    {% elsif forloop.index == col3 %}
    </div>
    <div class="glossarysplit" id="column3">
    {% endif %}
    
    <div class="lookcatcher">

      <h2>{{ character }}</h2>

        <ul>
            {% for tag in paredtags %}
                {% assign tagchar = tag | slice: 0 %}
                {% if tagchar == character %}
                    {% assign tagwrite = tag | split: '#' %}
                    <li><a href="{{ site.baseurl }}/tag/{{ tagwrite[0] }}">{{ tagwrite[0] }}</a><small> ({{ tagwrite[1] }})</small></li>
                {% endif %}
            {% endfor %}
        </ul>

    </div>

    {% if forloop.index == listsamount %}
    </div>
    {% endif %}

  {% endfor %}

</nav>

